.bg_image {
    background-image: url('../../../assets/images/Gradient_map.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}