.bg_image {
  /* background-image: url("../../assets/images/Gradient_v6.png"); */
  background-image: url("../../assets/images/compress/Gradient_v6_compress.avif");

  background-repeat: no-repeat;
  background-position: center;
  background-color: #191615;
}

.Block_Content ul,
.Block_Content ol,
.Block_Content p {
  @apply font-lato;
}
.Block_Content h2 {
  @apply font-semibold font-mono bg-light-green-1;
}

.Block_Content h3,
.sub_title {
  @apply font-semibold font-mono;
}

.Block_Content .wrappedH2:not(:first-child) + h3 {
  @apply border-yellow-500 mt-0;
}

.Block_Content a {
  @apply text-color-9 underline cursor-pointer;
}

.list_sub_items {
  @apply flex flex-col gap-6 font-lato text-lg md:ml-[40px] ml-[10px];
}

@media only screen and (max-width: 991px) {
  .Zest_symbol_white {
    margin-left: 0;
    position: static !important;
  }

  .Zest_symbol_white img {
    margin: 0;
  }

  .Footer_Img {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media only screen and (max-width: 450px) {
  .Footer_Img {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .Zest_symbol_white img {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 385px) {
  .Footer_Link {
    font-size: 12px;
    margin: 0 auto;
  }

  .Footer_Img {
    padding: 20px 10px;
  }

  .Zest_symbol_white {
    width: 40px;
  }
}

.next_text_right a::after,
.next_text_left a::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  right: 0px;
  width: 28px;
  height: 28px;
  padding: 0 12px;
}

.next_text_right a::after {
  background-image: url("../../assets/images/Right_arrow_white.svg");
}

.next_text_left a::before {
  background-image: url("../../assets/images/Left_arrow_white.svg");
}

@media only screen and (max-width: 767px) {
  .next_text_right a::after,
  .next_text_left a::before {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 639px) {
  .next_text_right a::after,
  .next_text_left a::before {
    padding: 0 8px;
  }
}

.Block_Content li a {
  font-weight: 700;
}
.Block_Content {
  padding-left: 20px;
  padding-right: 20px;
}

.Block_Content ol,
.Block_Content ul {
  list-style-position: outside;
  margin-left: 19px;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 18px;
}

.Block_Content ul {
  list-style-type: disc;
}

.Block_Content ol {
  list-style-type: decimal;
}

.Block_Content h3:not(:first-child) ~ ul,
.Block_Content h3:not(:first-child) ~ ol {
  margin-left: 10px;
}
.Block_Content ul + p,
.Block_Content ol + p {
  margin-top: 9px;
}
.Block_Content h2 {
  font-weight: 600;
  padding-top: 1px;
  padding-bottom: 1px;
  display: inline;
  font-size: 22px;
}
.Block_Content h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 16px;
}
.Block_Content p {
  margin-bottom: 19px;
}

.Block_Content figure {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.Block_Content .wrappedH2:not(:first-child) ~ h3 {
  margin-top: 45px;
}

.Block_Content .wrappedH2:not(:first-child) + h3 {
  margin-top: 0;
}

.Block_Content a {
  text-decoration: underline;
  cursor: pointer;
}

.wrappedH2 {
  padding-top: 20px;
  padding-bottom: 25px;
}

.sub_title {
  font-size: 25px;
  font-weight: 600;
}

.list_sub_items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 18px;
  margin-left: 10px;
}
.youtube_video {
  max-width: 725px;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin: 20px auto;
  height: auto;
}

@media (min-width: 640px) {
  .Block_Content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .Block_Content h2 {
    font-size: 30px;
  }
  .Block_Content h3 {
    font-size: 30px;
    line-height: 40px;
  }
  .Block_Content figure {
    max-width: 450px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .Block_Content .wrappedH2:not(:first-child) ~ h3 {
    margin-top: 50px;
  }
}

@media (min-width: 768px) {
  .Block_Content {
    padding-left: 40px;
    padding-right: 40px;
  }
  .Block_Content h3:not(:first-child) ~ ul,
  .Block_Content h3:not(:first-child) ~ ol {
    margin-left: 20px;
  }
  .Block_Content ul + p,
  .Block_Content ol + p {
    margin-top: 11px;
  }
  .Block_Content h2 {
    font-size: 35px;
  }
  .Block_Content h3 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .Block_Content p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 19px;
  }
  .Block_Content ol,
  .Block_Content ul {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 19px;
  }
  .Block_Content h3:not(:first-child) ~ p {
    margin-left: 20px;
  }
  .Block_Content figure {
    max-width: 559px;
    margin-top: 66px;
    margin-bottom: 66px;
  }
  .Block_Content .wrappedH2:not(:first-child) ~ h3 {
    margin-top: 50px;
  }
  .wrappedH2 {
    padding-top: 60px;
    padding-bottom: 33px;
  }
  .sub_title {
    font-size: 35px;
  }

  .list_sub_items {
    margin-left: 40px;
  }
  .youtube_video {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 830px) {
  .Block_Content ol,
  .Block_Content ul {
    font-size: 12px;
    line-height: 18px;
  }
  .Block_Content p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 19px;
  }
}
@media (min-width: 540px) and (max-width: 830px) {
  .Block_Content ul + p,
  .Block_Content ol + p {
    margin-top: 9px;
  }
  .Block_Content h2 {
    font-size: 30px;
    line-height: 45px;
  }
  .Block_Content h3 {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .Block_Content .wrappedH2:not(:first-child) ~ h3 {
    margin-top: 40px;
  }
  .wrappedH2 {
    padding-top: 52px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .Block_Content {
    padding-left: 70px;
    padding-right: 70px;
  }

  .Block_Content h3:not(:first-child) ~ ul,
  .Block_Content h3:not(:first-child) ~ ol {
    margin-left: 40px;
  }
  .Block_Content ul + p,
  .Block_Content ol + p {
    margin-top: 14px;
  }

  .Block_Content h2 {
    font-size: 40px;
  }
  .Block_Content h3 {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 35px;
  }

  .Block_Content p {
    margin-bottom: 24px;
  }
  .Block_Content h3:not(:first-child) ~ p {
    margin-left: 40px;
  }
  .Block_Content .wrappedH2:not(:first-child) ~ h3 {
    margin-top: 80px;
  }
  .wrappedH2 {
    padding-top: 90px;
  }
  .youtube_video {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .Block_Content p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 21px;
  }
  .Block_Content ol,
  .Block_Content ul {
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1280px) {
  .Block_Content {
    padding-left: 100px;
    padding-right: 100px;
  }
  .Block_Content figure {
    max-width: max-content;
  }
  .Block_Content .wrappedH2:not(:first-child) ~ h3 {
    margin-top: 100px;
  }
  .wrappedH2 {
    padding-top: 120px;
  }
  .youtube_video {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .Block_Content p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 21px;
  }
  .Block_Content ol,
  .Block_Content ul {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 26px;
  }
  .Block_Content h2 {
    font-size: 45px;
  }
  .Block_Content h3 {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 38px;
  }
}

@media (min-width: 1536px) {
  .Block_Content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .Block_Content figure {
    margin-top: 64px;
    margin-bottom: 73px;
  }
}
