.SingleIntro {
    background-image: url('../../../assets/images/Escape.png');

    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    /* background-color: black; */
    /* margin-top: 200px; */

}

.single_container {
    /* margin-top: -100px; */
}

@media only screen and (max-width:767px) {
    .SingleIntro {

        /* margin-top: 80px; */

    }
}







@keyframes textIn{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes textOut{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-100%);

	}
}

.animationDiv .animationFullText p span{
    display: none;
    text-align: left;
}
.animationDiv .animationFullText p{
	margin:0;
	overflow: hidden;
}
.animationDiv .animationFullText p span.textIn{
	display: block;
	animation: textIn .5s ease;
  
}
.animationDiv .animationFullText p span.textOut{

  animation: textOut .5s ease!important;
}
.animatedText{
  margin: 0 auto!important;
}







.card {
    /* background: red; */
    position: absolute;
    left: 0;
    pointer-events: none;
    opacity: 0;
    animation: animate 15s infinite linear;
    animation-delay: calc(3s * var(--delay));
  }
  
.outer:hover .card {
    animation-play-state: paused;
  }
  .cards .card:last-child {
    animation-delay: calc(-3s * var(--delay));
  }
  
  @keyframes animate {
    0% {
      opacity: 0;
      transform: translateY(100%) scale(1);
    }
    5%,
    20% {
      opacity: 0.4;
      transform: translateY(100%) scale(1);
    }
    25%,
    40% {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0%) scale(1);
    }
    45%,
    60% {
      opacity: 0.4;
      transform: translateY(-100%) scale(1);
    }
    65%,
    100% {
      opacity: 0;
      transform: translateY(-100%) scale(1);
    }
  }

  .card:nth-child(1){
    --delay: -1;
  }
  .card:nth-child(2){
    --delay: 0;
  }
  .card:nth-child(3){
    --delay: 1;
  }
  .card:nth-child(4){
    --delay: 2;
  }
  .card:nth-child(5){
    --delay: 2;
  }
  
  @media only screen and  (max-width: 767px) {
    /*Edited*/
    .cards{
        margin-top: 20px;
      left: calc(42% - 10px);
        /*   right: 50%; */
        /* margin: 0 auto; */
        text-align: center;
        /* border: 1px solid white; */
        /* left: 10px; */
        /* transform: translate(-50%,-50%); */
        /* bottom: 0; */
      /* font-size: 10px;
      padding: 0.5rem !important;
      margin: 0.5rem;
      text-align: center; */
    }
  }