.SingleIntro {
    background-image: url('../../../assets/images/Escape.png');

    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    /* background-color: black; */
    /* margin-top: 200px; */

}

.single_container {
    /* margin-top: -100px; */
}

@media only screen and (max-width:767px) {
    .SingleIntro {

        /* margin-top: 80px; */

    }
}




@keyframes textIn {
  0% {
      transform: translateY(100%);
  }

  100% {
      transform: translateY(0%);
  }
}

@keyframes textOut {
  0% {
      transform: translateY(0%);
  }

  100% {
      transform: translateY(-100%);
  }
}

.animationDiv .animationFullText span span {
  display: none;
  text-align: left;
}

.animationDiv .animationFullText span {
  margin: 0;
  overflow: hidden;
}

.animationDiv .animationFullText span span.textIn {
  display: block;
  animation: textIn .5s ease;
}

.animationDiv .animationFullText span span.textOut {
  animation: textOut .5s ease !important;
}

.animatedText {
  margin: 0 auto !important;
}


/* @keyframes textIn{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes textOut{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-100%);

	}
}

.animationDiv .animationFullText p span{
    display: none;
    text-align: left;
}
.animationDiv .animationFullText p{
	margin:0;
	overflow: hidden;
}
.animationDiv .animationFullText p span.textIn{
	display: block;
	animation: textIn .5s ease;
  
}
.animationDiv .animationFullText p span.textOut{

  animation: textOut .5s ease!important;
}
.animatedText{
  margin: 0 auto!important;
} */







.card {
    /* background: red; */
    position: absolute;
    left: 0;
    pointer-events: none;
    opacity: 0;
    animation: animate 15s infinite linear;
    animation-delay: calc(3s * var(--delay));
  }
  
.outer:hover .card {
    animation-play-state: paused;
  }
  .cards .card:last-child {
    animation-delay: calc(-3s * var(--delay));
  }
  
  @keyframes animate {
    0% {
      opacity: 0;
      transform: translateY(100%) scale(1);
    }
    5%,
    20% {
      opacity: 0.4;
      transform: translateY(100%) scale(1);
    }
    25%,
    40% {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0%) scale(1);
    }
    45%,
    60% {
      opacity: 0.4;
      transform: translateY(-100%) scale(1);
    }
    65%,
    100% {
      opacity: 0;
      transform: translateY(-100%) scale(1);
    }
  }

  .card:nth-child(1){
    --delay: -1;
  }
  .card:nth-child(2){
    --delay: 0;
  }
  .card:nth-child(3){
    --delay: 1;
  }
  .card:nth-child(4){
    --delay: 2;
  }
  .card:nth-child(5){
    --delay: 2;
  }
  
  @media only screen and  (max-width: 767px) {
    /*Edited*/
    .cards{
        margin-top: 20px;
      left: calc(42% - 10px);
        /*   right: 50%; */
        /* margin: 0 auto; */
        text-align: center;
        /* border: 1px solid white; */
        /* left: 10px; */
        /* transform: translate(-50%,-50%); */
        /* bottom: 0; */
      /* font-size: 10px;
      padding: 0.5rem !important;
      margin: 0.5rem;
      text-align: center; */
    }
  }








  
.solution_box {
  padding-top: 50px; 
  padding-bottom: 240px; 
}


.solution_heading {
  font-size: 18px; 
  line-height: 25px; 
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}
.solution_description{
  font-size: 10px;
  padding-top: 12px;
}


.box_div {
  gap: 20px; 
  margin-top: -165px; 
  padding-left: 0px; 
  padding-right: 0px; 
}


@media (min-width: 640px) {
  .solution_box {
    padding-top: 50px; 
  }
  .solution_heading {
    font-size: 25px;
  
    padding-left: 40px;
    padding-right: 40px;
  }
  .box_div {
    gap: 30px; 
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Medium screens */
@media (min-width: 768px) {
  .solution_box {
    padding-top: 75px;
    padding-bottom: 368px;
  }
  .solution_heading {
    font-size: 35px;
    line-height: 40px;
  }
  .solution_description{
    font-size: 16px;
  }
  .box_div {
    gap: 40px;
    margin-top: -200px;
    padding-left: 30px;
    padding-right: 30px;
  }
}


@media (min-width: 540px) and (max-width: 830px) {
  .solution_box {
    padding-bottom: 300px; 
  }
  .solution_heading {
    font-size: 25px;
    line-height: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .solution_description{
    font-size: 12px;
  }
}


@media (min-width: 1024px) {
  .solution_box {
    padding-top: 100px;
  }
  .solution_heading {
    font-size: 40px;
    line-height: 50px;
  }
  .box_div {
    margin-top: -256px; 
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1280px) {
  .solution_box {
    padding-top: 126px;
  }
  .solution_heading {
    font-size: 45px;
    line-height: 58px;
  }
}













.growth_grid {}

.growth_grid>div:not(:first-child) {
    @apply xl:mt-[65px] lg:mt-[45px] md:mt-[25px] sm:mt-[35px] mt-[20px]
}

@media only screen and (max-width:860px) {

    /* .animationFullText{
        
        @apply   max-w-[655px] text-center border
    } */
}

/* @media only screen and (min-width:1366px){
    .growth_container{

        padding: 0 100px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1365px){
    .growth_container{

        padding: 0 50px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px){
    .growth_container{

        padding: 0 40px;
    }
  }
  @media only screen and (min-width: 640px) and (max-width: 767px){
    .growth_container{

        padding: 0 35px;
    }
  }
@media only screen and (max-width:639px){
    .growth_container{

        padding: 0 15px;
    }
} */




/*  font-mono   mx-auto grid md:gap-[45px] sm:gap-[45px] gap-[20px]  */



.animationFullText {
    margin-bottom: 0;
    width: fit-content;
}

.animationFullText h2 {
    padding-left: 23px;
    padding-right: 23px;
}
  
@media only screen and (min-width: 1280px) {
    .animationFullText {
        padding-bottom: 160px;
    }

    .animationFullText h2 {
        font-size: 45px;
    }
    .animatedText{
        width: 200px;
        
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .animationFullText {
        padding-bottom: 120px;
    }

    .animationFullText h2 {
        font-size: 40px;
    }
    .animatedText{
        width: 174px;
        
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .animationFullText {
        padding-bottom: 80px;
    }

    .animationFullText h2 {
        font-size: 35px;
    }
    .animatedText{
        width: 152px;
        
    }
}



@media only screen and (max-width: 767px) {

    .animationFullText {
        width: 100%;
        max-width: 500px;
        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 50px;
    }

    .animationFullText h2 {
        font-size: 18px;
    }
}


@media only screen and (min-width: 540px) and (max-width: 830px) {

    .animationFullText h2 {
        font-size: 25px;
    }
    .animatedText{
        
        width: 112px;
    }
}


@media only screen and (max-width:772px){
    .animatedText{
        width: fit-content;
    }
}