/* @media only screen and (max-width:){

} */
.location_div {
    max-width: -webkit-fill-available!important;
    width: 100%;
    /* max-height: -webkit-fill-available; */
    aspect-ratio: 1 / 1;
    @apply  rounded-[15px] sm:rounded-[20px] lg:rounded-[30px] md:rounded-30px  
}
.location_div > div{
    /* border: 5px solid blue; */
    height:-webkit-fill-available!important;
    @apply rounded-[15px] sm:rounded-[20px] lg:rounded-[30px] shadow-dark-pink-right border border-color-1
}
.MapLocations{
    /* border: 1px solid black; */
}


/* @media only screen and (max-width:1600px) {
    .location_div {
        max-width: 30vw;
        width: 30vw;
        max-height: 30vw;
        height: 30vw;
    }
}

@media only screen and (max-width:1100px) {
    .location_div {
        max-width: 42vw;
        width: 42vw;
        max-height: 42vw;
        height: 42vw;
    }

}

@media only screen and (max-width:760px) {
    .location_div {
        max-width: 320px;
        width: 320px;
        max-height: 320px;
        height: 320px;
    }


}
@media only screen and (max-width:345px) {
    .location_div {
        max-width: 290px;
        width: 290px;
        max-height: 290px;
        height: 290px;
    }
} */