.values_bg {
    background-image: url(../../../assets/images/Big_gradient.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    padding: 85px 16px 85px 16px;
    border-radius: 30px;
}

.Our_values_main_p {
    /* max-width: 724px; */
}

.Our_values_main_2 {
    /* margin: -140px 0; */
}

@media screen and (max-width:1040px) {
    .Our_values_main_2 {
        /* margin: 0px 0 !important; */
    }
}

@media screen and (max-width:768px) {


    .values_bg {
        padding: 80px 16px 50px 16px;
    }
}