.SingleBox {
    background-image: url('../../../assets/images/Gradient_v4.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: black;
    margin-top: 200px;

    border: 1px solid transparent;
}

.singleBox_container {
    margin-top: -100px;
    border: 1px solid transparent;
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .SingleBox{
        margin-top: 180px;
    }
}
@media only screen and (max-width:767px) {
    .singleBox_container {
        margin-top: 0;
    }
    .SingleBox {
        margin-top: 50px;

    }
}

.About_team {
    /* padding: 0px 15px 141px 15px; */
}
.Team_img {
    max-width: 435px;
    width: 100%;
    
}
.Team_img_circle{
    width: 90.2%;
    height: 83%;
    background: #1d2671;
    border-radius: 100%;
    left: 4.38%;
    bottom: 0.7%;
    }
    
    @media screen and (max-width:768px) {
        .About_team {
            /* padding: 0px 16px 50px 16px; */
        }
    }