.SingleIntro{
    background-image: url('../../../assets/images/learn_how_to_grow_bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: black;
    margin-top: 70px;
  
}
.single_container{
    /* margin-top: -100px; */
}

@media only screen and (min-width:768px) and (max-width:1024px){
    .SingleIntro{
        margin-top: 90px;
    }
}

.margin_outer {
    margin-left: 15px  ;
    margin-right: 15px  ;
  }
  @media only screen and (min-width: 1775px) {
    .margin_outer {
      margin-left: 100px  ;
      margin-right: 100px  ;
    }
    .grow_img{
      right: 0;
      top:-163px;
      right: 50px;
  }
  .grow_img img{
    width: 300px;
        height: 300px;
  }
  }
  @media only screen and (min-width: 1450px) and (max-width: 1774px) {
    .margin_outer {
      margin-left: 75px  ;
      margin-right: 75px  ;
    }
    .grow_img{
      top:-144px;
      right: 90px;
    }
    .grow_img img{
      width: 270px;
        height: 270px
    }
  }
  @media only screen and (min-width: 1366px) and (max-width: 1449px) {
    .margin_outer {
      margin-left: 60px  ;
      margin-right: 60px  ;
    }
    .grow_img{
        top:-122px;
      right: 135px;
    }
    .grow_img img{
      width: 230px;
        height: 230px;
    }
  }
  @media only screen and (min-width: 1024px) and (max-width: 1365px){
    .margin_outer {
      margin-left: 40px  ;
      margin-right: 40px  ;
    }
    .grow_img{
      top:-109px;
      right: 105px;
    }
    .grow_img img{
      width: 200px;
      height: 200px;
    }
    
  }
  @media only screen and (min-width: 1124px) and (max-width: 1365px){
    .grow_img{
      top:-118px;
    right: 135px;
  }
  .grow_img img{
    width: 220px;
      height: 220px;
  }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px){
    .margin_outer {
      margin-left: 25px  ;
      margin-right: 25px  ;
    }
    .grow_img{
      top:-97px;
      right: 95px;
    }
    .grow_img img{
      width: 180px;
      height: 180px;
    }
  }
  @media only screen and (min-width: 640px) and (max-width: 767px){
    .grow_img{
      top: -86px;
      right: 56px;
    }
    .grow_img img{
      width: 160px;
      height: 160px;
    }
  }
  @media only screen and (max-width: 639px) {
    .grow_img{
      top: -62px;
      right: 37px;
    }
    .grow_img img{
      width: 115px;
      height: 115px;
    }
    .SingleIntro{
      margin-top: 50px;
  }
  }