@tailwind base;
@tailwind components;
@tailwind utilities;

/* new popup style */


.MuiDialog-container.MuiDialog-scrollPaper {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  overflow-y: scroll !important;
  border: 2px solid black;

  align-items: baseline;
  justify-content: center;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm {
  max-width: 1510px;
}

@font-face {
  font-family: "Lato_font";
  src: url("../assets/lato/Lato-Black.ttf");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Lato_font";
  src: url("../assets/lato/Lato-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Lato_font";
  src: url("../assets/lato/Lato-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../assets/IBMPlexMono/IBMPlexMono-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../assets/IBMPlexMono/IBMPlexMono-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../assets/IBMPlexMono/IBMPlexMono-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../assets/IBMPlexMono/IBMPlexMono-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@media only screen and (max-width: 767px) {
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm {
    margin: 20px !important;
  }

}

@media only screen and (max-width: 639px) {
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm {
    margin: 10px !important;
  }
}

/* new popup style */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../assets/images/select_drop_down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

select::-ms-expand {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main_container {
  max-width: 1720px;
  width: 100%;
  margin: 0 auto;
}

.main_padding {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media only screen and (min-width: 1775px) {
  .main_padding {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}

@media only screen and (min-width: 1450px) and (max-width: 1774px) {
  .main_padding {
    padding-left: 75px !important;
    padding-right: 75px !important;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1449px) {
  .main_padding {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  .main_padding {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}

@media only screen and (min-width: 540px) and (max-width: 830px) {
  .main_padding {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  .main_padding.tablet_padding {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}

@media only screen and (max-width: 640px) {
  .Body_padding {
    padding: 0 10px;
  }
}

.main_container_x {
  max-width: 1410px;
  width: 100%;
  margin: 0 auto;
}

.popup_conatiner {
  @apply max-w-[1510px] mx-auto border border-color-1 shadow-dark-pink-right md:rounded-30px sm:rounded-[20px] rounded-[15px];
}

/* Nav bar style start*/

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  background-color: transparent !important;

  box-shadow: none !important;
  border-radius: 0 !important;
  position: static !important;
}

.custom-menu-items-class {
  @apply font-mono text-[20px] md:text-[22px] px-7 py-[3px] md:py-[8px] mb-[10px] hover:bg-color-1 hover:text-white rounded-[6px] mx-[10px] active:bg-color-1 active:text-white;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  border-radius: 0 10px 10px 0 !important;
  border: none !important;
}

.css-hyum1k-MuiToolbar-root {
  padding: 0 !important;
}

button.MuiButtonBase-root.MuiIconButton-colorInherit.MuiIconButton-edgeEnd.MuiIconButton-root.MuiIconButton-sizeMedium.css-1xethvs-MuiButtonBase-root-MuiIconButton-root {
  border-radius: 0;
  right: 0 !important;
  justify-self: flex-end;
  margin-right: 0;
  padding-right: 0;
}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  border: none;
}

.bars-icon {
  width: 23px !important;
  height: 23px;
  right: 0 !important;
}

.bg_color_green {
  background-color: #a2ff8f;
  color: #000 !important;
}

/* Nav bar style end*/

.growth_grid_1 {
  width: 80%;
}

.growth_grid_2 {
  width: 90%;
}

.rotate {
  animation: loading 15s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}


.pag404 > div {
  height: calc(100vh - 115px ) 
}
@media only screen and (max-width:1080px){
.pag404 > div {
  height: calc(100vh - 80px ) 
}
}  
@media only screen and (max-width:676px){
.pag404 > div {
  height: calc(100vh - 54px ) 
}
}  

#label-email-77c50a0c-3073-4b4d-b8cd-4d19a73691ca span{
color: white!important;
border: 1px solid white!important;
 }
 .hs_email{
  background-color: antiquewhite!important;
 }