@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* This will hide the default dropdown arrow */
select {
  -webkit-appearance: none; /* for Chrome, Safari */
  -moz-appearance: none;    /* for Firefox */
  appearance: none;         /* for modern browsers */
  background-image: url('../assets/images/select_drop_down.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
}
select::-ms-expand {
  display: none;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main_container {
  max-width: 1720px;
  width: 100%;
  margin: 0 auto;
}
.main_padding{
  padding-left: 15px!important;
  padding-right: 15px!important;
}
.main_container_x {
  max-width: 1410px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 460px) {
  .banner_title {
    font-size: 18px;
  }
}

.popup_conatiner {
  @apply max-w-[1510px] mx-auto border border-color-1 shadow-compo shadow-[#e43fa8] md:rounded-30px rounded-[20px];
}


/* Nav bar style start*/

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  background-color: transparent !important;
  /* color:black!important; */
  box-shadow: none !important;
  border-radius: 0 !important;
  position: static !important;
}

.custom-menu-items-class {
  @apply font-mono text-[20px] md:text-[22px] px-7 py-[3px] md:py-[8px] mb-[10px] hover:bg-color-1 hover:text-white rounded-[6px] mx-[10px] active:bg-color-1 active:text-white;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  border-radius: 0 10px 10px 0 !important;
  border: none !important;
}

.css-hyum1k-MuiToolbar-root {
  padding: 0 !important;
}

button.MuiButtonBase-root.MuiIconButton-colorInherit.MuiIconButton-edgeEnd.MuiIconButton-root.MuiIconButton-sizeMedium.css-1xethvs-MuiButtonBase-root-MuiIconButton-root {
  /* border: 1px solid black; */
  border-radius: 0;
  right: 0 !important;
  justify-self: flex-end;
  margin-right: 0;
  padding-right: 0;
}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  border: none;
}

.bars-icon {
  width: 23px !important;
  height: 23px;
  right: 0 !important;
}
.bg_color_green{
background-color: #a2ff8f;
color:  #000 !important
}
/* Nav bar style end*/



