.container_bg {
  /* background-image: url("../../../assets/images/Gradient_v7.png"); */
  background-image: url("../../../assets/images/compress/Gradient_v7_compress.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bookcall_box {
  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 20px;
  padding-right: 20px;
}

.bookcall_heading {
  font-size: 22px;
}

.btn_div {
  margin-top: 35px;
}

@media (min-width: 640px) {
  .bookcall_box {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .bookcall_heading {
    font-size: 30px;
  }

  .btn_div {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .bookcall_box {
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .bookcall_heading {
    font-size: 40px;
  }

  .btn_div {
    margin-top: 25px;
  }
}

@media (min-width: 540px) and (max-width: 830px) {
  .bookcall_box {
    padding-top: 60px;
    padding-bottom: 76px;
  }

  .bookcall_heading {
    font-size: 30px;
    line-height: 39px;
  }

  .btn_div {
    margin-top: 35px;
  }
}

@media (min-width: 1024px) {
  .bookcall_box {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .bookcall_heading {
    font-size: 45px;
  }

  .btn_div {
    margin-top: 30px;
  }
}

@media (min-width: 1280px) {
  .bookcall_box {
    padding-top: 121px;
    padding-bottom: 121px;
  }

  .btn_div {
    margin-top: 40px;
  }
}
