.boxes {
  width: -webkit-fill-available;
}

@media only screen and (max-width: 1175px) {
  .grow_image {
    width: 450px;
    bottom: -100px;
    right: -50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .box_title {
    font-size: 35px;
  }

  .box_desc {
    font-size: 25px;
    line-height: 35px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-bottom: 30px;
  }

  .boxes {
    padding: 35px 23px 60px 35px;
  }

  .grow_image {
    width: 400px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 865px) {
  .grow_image {
    width: 350px;
  }
}

@media only screen and (max-width: 767px) {
  .box_title {
    font-size: 30px;
  }

  .box_desc {
    font-size: 20px;
    line-height: 29px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-bottom: 20px; */
    line-height: 28px;
  }

  .boxes {
    padding: 30px 15px 30px 30px;
  }

  .boxes button {
    font-size: 14px;
  }

  .boxes button img {
    padding: 6px 4px 6px 4px;
    width: 25px;
  }

  .grow_image {
    width: 300px;
  }
}

@media only screen and (max-width: 500px) {
  .box_title {
    font-size: 25px;
  }

  .box_desc {
    font-size: 18px;
    line-height: 23px;
  }

  .boxes button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 530px) {
  .grow_image {
    width: 250px;
  }
}

@media only screen and (max-width: 320px) {
  .boxes {
    padding: 20px 15px 20px 20px;
  }
}

@media only screen and (min-width: 540px) and (max-width: 830px) {
  .box_title {
    font-size: 30px;
  }

  .box_desc {
    font-size: 18px;
    line-height: 23px;
  }

  .boxes {
    padding: 38px 38px 54px 38px;
  }

  .box_desc {
    max-width: 400px;
    margin-top: 12px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 540px) {
  .box_title {
    font-size: 18px;
  }

  .box_desc {
    font-size: 12px;
    line-height: 15px;
  }

  .boxes {
    padding: 26px 20px 44px 20px;
  }

  .box_desc {
    max-width: 206px;
  }
}

@media only screen and (min-width: 1024px) {
  .boxes {
    padding: 35px 20px 70px 35px;
  }

  .box_desc {
    font-size: 26px;
    line-height: 34px;
  }
}

@media only screen and (min-width: 1280px) {
  .boxes {
    padding: 50px 28px 102px 50px;
  }

  .box_desc {
    font-size: 30px;
    line-height: 39px;
  }
}

.terms_btn {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 13px;
  padding-right: 5px;
}

.terms_btn span {
  padding: 2px;
  margin-right: 0;
  font-size: 18px;
}

@media (min-width: 768px) {
  .terms_btn {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 0;
  }

  .terms_btn span {
    padding: 4px;
    margin-right: 6px;
  }
}