.Careerbanner h1 {
    @apply xl:mt-[95px] lg:mt-[70px] md:mt-[48px] mt-[33px]
    /* padding: 96px 16px 0 16px; */
}



.Career {
    margin-bottom: 60px;
  }
  
  .carrer_heading {
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 33px;
  }
  
  .career_title {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .career_desc {
    font-size: 12px;
  }
  
  /* Small screens, specifically for min-width: 640px */
  @media (min-width: 640px) {
    .Career {
      margin-bottom: 90px;
    }
  
    .carrer_heading {
      font-size: 35px;
    }
  
    .career_title {
      font-size: 30px;
    }
  }
  

  /* Medium screens */
  @media (min-width: 768px) {
    .Career {
      margin-bottom: 120px;
    }
  
    .carrer_heading {
      font-size: 40px;
      margin-top: 48px;
    }
  
    .career_title {
      font-size: 35px;
      margin-bottom: 40px;
    }
  
    .career_desc {
      font-size: 25px;
    }
  }


    /* Between 540px and 830px */
    @media (min-width: 540px) and (max-width: 830px) {
        .Career {
          margin-bottom: 80px;
        }
      
        .carrer_heading {
          font-size: 30px;
          max-width: 365px;
        }
      
        .career_title {
          font-size: 30px;
        }
      
        .career_desc {
          font-size: 20px;
        }
      }
      
  
  /* Large screens */
  @media (min-width: 1024px) {
    .Career {
      margin-bottom: 140px;
    }
  
    .carrer_heading {
      font-size: 50px;
      margin-top: 70px;
    }
  
    .career_title {
      font-size: 40px;
      margin-bottom: 60px;
    }
  
    .career_desc {
      font-size: 30px;
    }
  }
  
  /* Extra large screens */
  @media (min-width: 1280px) {
    .Career {
      margin-bottom: 160px;
    }
  
    .carrer_heading {
      font-size: 55px;
      margin-top: 95px;
    }
  
    .career_title {
      font-size: 45px;
    }
  }
  

























@media only screen and (max-width:767px) {
    .Careerbanner {
        /* padding: 30px 16px 0 16px; */
    }
}

.SingleIntro {
    background-image: url('../../assets/images/Gradient_calendar_new.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    /* background-size: ; */
    background-color: #191615;
    margin-top:105px;

}

.single_container {
    /* margin-top: -100px; */
}

.single_container{
    padding: 175px 0 191px 0;
}

.career_content p{
    max-width: 1019px;
}

@media only screen and (min-width: 1775px) {

    .grow_img {
        top: -163px;
        right: 50px;
    }

    .grow_img img {
        width: 294px;
        height: 294px;
    }

    
}

@media only screen and (min-width: 1450px) and (max-width: 1774px) {

    .grow_img {
        top: -150px;
        right: 90px;
    }

    .grow_img img {
        width: 270px;
        height: 270px
    }
    .career_content p{
        max-width: 1019px;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1449px) {

    .grow_img {
        top: -127px;
        right: 135px;
    }

    .grow_img img {
        width: 230px;
        height: 230px;
    }
    .single_container{
        padding: 165px 0 181px 0;
    }
    .career_content p{
        max-width: 900px;
    }
    
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) {

    .grow_img {
        top: -114px;
        right: 80px;
    }

    .grow_img img {
        width: 200px;
        height: 200px;
    }
    .single_container{
        padding: 150px 0 160px 0;
    }

    .career_content p{
        max-width: 600px;
    }
    

}

@media only screen and (min-width: 1124px) and (max-width: 1365px) {
    .grow_img {
        top: -123px;
        right: 60px;
    }

    .grow_img img {
        width: 220px;
        height: 220px;
    }
    .career_content p{
        max-width: 700px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .grow_img {
        top: -100px;
        right: 50px;
    }

    .grow_img img {
        width: 200px;
        height: 200px;
    }
    .single_container{
        padding: 131px 0 131px 0;
    }
    .career_content p{
        max-width: 600px;
    }
    
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
    .grow_img {
        top: -88px;
        right: 50px;
    }

    .grow_img img {
        width: 160px;
        height: 160px;
    }
    .single_container{
        padding: 100px 0 90px 0;
    }
    .career_content p{
        max-width: 523px;
    }
}

@media only screen and (max-width: 639px) {
    .grow_img {
        top: -65px;
        right: 20px;
    }

    .grow_img img {
        width: 130px;
        height: 130px;
    }

    .SingleIntro {
        margin-top: 55px;
    }
    .single_container{
        padding: 95px 0 77px 0;
    }
    .career_content p{
        max-width: 400px;
    }
    .Careerbanner h1{
        max-width: 365px;
    }
}

@media only screen and (max-width: 539px) {
    .career_content p{
        max-width: 275px;
    }
    .Careerbanner h1{
        max-width: 230px;
    }
    .career_content h2{
        margin-bottom: 20px;
        line-height: 30px;
    }
}

@media only screen and (min-width: 639px) and (max-width: 830px) {
    /* .grow_img img {
        width: 200px;
        height: 200px;
    } */
    .SingleIntro{
        margin-top: 45px;
    }
    .single_container{
        padding-bottom: 130px;
    }
    .single_container p{
        /* max-width: 500px; */
        margin: auto;
    }
}



