.objective_inner {
    /* padding: 70px 52px; */
}
.objective_select:not(:first-child){
@apply xl:mt-[350px] lg:mt-[280px] md:mt-[200px] sm:mt-[90px] mt-[85px] 
}

.objective_description p:not(:first-child){
    /* border: 1px solid black; */
    padding-top: 45px; 
  }

  .objective_inner h2 strong{
    font-weight: inherit;
  @apply text-color-9 
  }

  
  @media only screen and (max-width: 1024px) {
    .objective_description p:not(:first-child){
      padding-top: 35px; 
    }
  }

@media only screen and (max-width:767px) {
    .objective_inner {
        /* padding: 30px 35px; */
    }
    .objective_description p:not(:first-child){
        padding-top: 30px; 
      }
}

@media only screen and (max-width:639px) {
    .objective {
        /* padding-left: 35px;
 -       padding-right: 35px; */
    }
    .objective_description p:not(:first-child){
        padding-top: 10px; 
      }
}


@media only screen and (min-width:1516px) and (max-width:1800px) {
  .growth_service_image{
max-width: 500px;
width:500px;
height:920px;
  }
}
@media only screen and (min-width:1300px) and (max-width:1516px) {
  .growth_service_image{
max-width: 345px;
width:345px;
height:920px;
  }
}
@media only screen and (min-width:1200px) and (max-width:1300px) {
  .growth_service_image{
max-width: 300px;
width:300px;
height:880px;
  }
}