

.GrowthEnginePage_Banner {
    padding-top: 40px; 
  }
  
  .banner_heading {
    font-size: 22px; 
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 7px;
  }
  
  .banner_description {
    font-size: 22px; 
    line-height: 30px;
    margin-bottom: 20px; 
  }
     .banner_container{
    max-width: 400px;
}
  
  @media (min-width: 640px) {
    .GrowthEnginePage_Banner {
      padding-top: 50px;
    }
    .banner_heading {
      font-size: 28px;
      margin-bottom: 10px;
    }
    .banner_description {
      font-size: 30px;
      line-height: 45px;
    }
    .banner_container{
        max-width: 500px;
    }
  }
  
  @media (min-width: 768px) {
    .GrowthEnginePage_Banner {
      padding-top: 80px;
    }
    .banner_heading {
      font-size: 35px;
      margin-bottom: 20px;
    }
    .banner_description {
      font-size: 40px;
      line-height: 55px;
    }
    .banner_container{
        max-width: 700px;
    }
  }
  
  @media (min-width: 540px) and (max-width: 830px) {
    .GrowthEnginePage_Banner {
      padding-top: 55px;
    }
    .banner_heading {
      font-size: 26px;
      margin-bottom: 20px;
    }
    .banner_description {
      font-size: 30px;
      line-height: 45px; 
      margin-bottom: 25px;
    }
    .banner_container{
        max-width: 500px;
    }
  }
  
  @media (min-width: 1024px) {
    .GrowthEnginePage_Banner {
      padding-top: 110px;
    }
    .banner_heading {
      font-size: 40px;
      margin-bottom: 36px;
    }
    .banner_description {
      font-size: 50px;
      line-height: 71px;
    }
    .banner_container{
        max-width: 992px;
    }
  }
  
  @media (min-width: 1280px) {
    .GrowthEnginePage_Banner {
      padding-top: 143px;
    }
    .banner_heading {
      font-size: 45px;
    }
    .banner_description {
      font-size: 55px;
      line-height: 75px;
    }
  }
  