.growth_engine{
    width: -webkit-fill-available;
}
.grow_image {

    /* border: 1px solid black; */
}

@media only screen and (max-width:1175px) {
    .grow_image {
        /* border: 1px solid black; */
        width: 450px;
        bottom: -100px;
        right: -50px;
    }

    .grow_image img {
        /* border: 1px solid black; */
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .growth_engine_title {
        font-size: 35px;
    }

    .growth_engine_desc {
        font-size: 25px;
        margin: 12px auto;
    }

    .growth_engine {
        padding: 50px 23px 50px 40px;
    }

    .grow_image {
        width: 400px;
    }

}

@media only screen and (min-width:768px) and (max-width:865px) {
    .grow_image {
        width: 350px;
    }
}

@media only screen and (max-width:767px) {
    .growth_engine_title {
        font-size: 25px;
    }

    .growth_engine_desc {
        font-size: 18px;
        margin: 12px auto;
    }

    .growth_engine {
        padding: 30px 15px 30px 15px;
    }

    .growth_engine button {
        font-size: 14px;
        /* padding: 4px 0 4px 10px; */
    }

    .growth_engine button img {
        padding: 6px 4px 6px 4px;
        width: 25px;
        /* margin-right: 5px; */
    }

    .grow_image {
        width: 300px;
    }

}

@media only screen and (max-width:500px) {
    .growth_engine_title {
        font-size: 18px;
    }

    .growth_engine_desc {
        font-size: 12px;
    }
    .growth_engine button {
        font-size: 12px;
    }
}
@media only screen and (max-width:530px) {
    .grow_image {
        width: 250px;
    }
}
@media only screen and (max-width:320px) {
    .growth_engine {
        padding: 20px 15px 20px 15px;
    }
}

@media only screen and (max-width:375px) {
    .growth_engine button{
        font-size: 11px;
        padding-inline-end: 3px;
        padding-inline-start: 6px;
    }
}