.list_title {
    @apply lg:text-45px md:text-40px text-30px font-mono font-semibold mt-[50px] md:mt-[95px] mb-[40px]
}

.list_sub_title {
    @apply md:text-35px text-30px font-mono font-semibold mt-[50px] md:mt-[95px] mb-[40px]
}

.list_sub_items{
    @apply flex flex-col gap-6 font-lato text-lg ml-[60px]
}


.Portable_text{
    @apply xl:ps-[120px] lg:ps-[85px] md:ps-[30px] ps-[20px]
}
.Portable_text h2{
    @apply lg:text-45px md:text-40px sm:text-30px text-[18px] min-tb:max-tb:text-[26px] font-mono font-semibold xl:mt-[120px] lg:mt-[100px] md:mt-[70px] mt-[40px]  md:mb-[40px] max-tb:mt-[40px] max-tb:mb-[20px] sm:mb-[30px] mb-[15px]
}
.Portable_text p{
    @apply flex flex-col gap-6 font-lato lg:text-[18px] md:text-[15px] max-tb:text-[12px] min-tb:max-tb:leading-[20px] text-[14px]  lg:mb-[24px] md:mb-[20px] sm:mb-[16px] mb-[10px] min-tb:max-tb:mb-[15px]
}
.Portable_text h3{
    @apply lg:text-35px md:text-[30px] min-tb:max-tb:text-[26px]  text-[18px] font-mono font-semibold mt-[30px] sm:mt-[50px] md:mt-[95px] min-tb:max-tb:mt-[40px] min-tb:max-tb:mb-[20px]  sm:mb-[40px] mb-[20px] 
}
.Portable_text h3 ~ p{
    @apply md:ml-[60px] min-tb:max-tb:ml-[20px] ml-[8px]
}
.Portable_text ul{
    @apply list-disc list-inside md:ml-[100px] ml-[15px] md:text-[18px] sm:text-[16px] text-[14px] max-tb:text-[12px] min-tb:max-tb:leading-[20px] md:mb-[36px] sm:mb-[24px] mb-[17px]
}
.Portable_text p:has(strong){
    @apply block
}
.Portable_text a{
    word-wrap: break-word;
}

.Portable_text h2:not(:first-child) + p{
    @apply ml-[0] 
}
.Portable_text p:has(a){
    display: inline-block;
}
.Portable_text a{
    color: #E43FA8;
    text-decoration: underline;
}

.Portable_text h2:not(:first-child) + p + ul + p, .Portable_text h2:not(:first-child) + p + ul + p +p {
    /* border: 10px solid black; */
    @apply ml-[0]
}
