.Gross_profit {
  background-image: url(../../../assets/images/\ gross\ profit.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 280px 16px; */
  background-position: center;
  background-color: #191516;
  /* height: 905px; */
  display: flex;
  align-items: center;
  justify-content: center;
}


.profit_box {
  padding-left: 15px;
  padding-right: 15px;
}


@media only screen and (min-width: 1775px) {
  .profit_box {
    padding: 75px 75px;
  }

  .Gross_profit {
    height: 905px;

  }
}

@media only screen and (min-width: 1450px) and (max-width: 1774px) {
  .profit_box {
    padding: 45px 45px;
    padding-bottom: 60px;
  }

  .Gross_profit {
    height: 895px;

  }

  .Gross_profit_grid_div {
    gap: 35px;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1449px) {
  .profit_box {
    padding: 40px 40px;
    padding-bottom: 60px;
  }

  .Gross_profit {
    height: 880px;

  }

  .Gross_profit_grid_div {
    gap: 30px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  .profit_box {
    padding: 35px 35px;
    padding-bottom: 60px;
  }

  .Gross_profit {
    height: 875px;

  }

  .Gross_profit_grid_div {
    gap: 30px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .profit_box {
    padding: 25px 25px;
    padding-bottom: 60px;
  }

  .Gross_profit {
    padding-top: 100px;
    padding-bottom: 100px;

  }

  .profit_box_desc {
    max-width: 300px;
  }

  .profit_box h2 {
    font-size: 45px;
  }

  .profit_box_heading {
    font-size: 30px;
  }

  .Gross_profit_grid_div {
    gap: 20px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1150px) {
  .profit_box_heading {
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .profit_box {
    padding: 45px 10px;
    padding-bottom: 60px;
  }

  .Gross_profit {
    padding-top: 100px;
    padding-bottom: 100px;

  }

  .profit_box_desc {
    max-width: 300px;
  }

  .Gross_profit_grid_div {
    gap: 15px;
  }

  .profit_box_heading {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 856px) {
  .profit_box {
    padding: 20px 8px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width:767px) {
  .profit_box {
    padding: 25px 25px;
    padding-bottom: 50px;
  }

  .Gross_profit {
    padding-top: 40px;
    padding-bottom: 40px;

  }

  .profit_box_desc {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .Gross_profit_grid_div {
    gap: 15px;
  }

  /* .Gross_profit_grid_div {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  } */

  .Gross_profit {
    justify-content: stretch;
  }

  .Gross_profit_grid_div {
    width: 100%;
  }

  .profit_box_desc {}

}

@media screen and (max-width:700px) {
  .profit_box {
    padding: 25px 25px;
    padding-bottom: 40px;
  }
.Gross_profit{
  padding-left: 40px !important;
  padding-right: 40px !important;
}
}


@media only screen and (min-width: 768px) and (max-width: 970px) {
  .profit_box h2 {
    font-size: 37px;
  }

  .profit_box_heading {
    font-size: 22px;
  }

  .profit_box h3 {
    font-size: 22px;
  }

  .profit_box_desc {
    font-size: 16px;
  }

  .profit_box button {
    padding: 1px 0 1px 14px;
  }

  .profit_box button span {
    margin-right: 1px;
  }
}

@media only screen and (min-width:830px){
  .profit_box{
    grid-column: span 4 / span 4;
  }
}
@media only screen and (max-width:830px){
.profit_box{
  grid-column: span 6 / span 6;
}
}
@media only screen and (max-width:540px){
  .profit_box{
    grid-column: span 12/ span 6;
  }
  }
@media only screen and (min-width:540px) and (max-width:830px){
 
    .Gross_profit_grid_div > :nth-child(3) {
      grid-column-start: 4;
    }
    .Gross_profit_grid_div{
      row-gap: 27px;
      column-gap: 48px;
    }
    .profit_box h2{
      font-size: 30px;
    }
    .profit_box_heading,   .profit_box h3 {
      font-size: 20px;
    }
    .profit_box_desc{
      font-size: 12px;
      line-height: 18px;
    }
}