.Gross_profit {
  background-image: url(../../../assets/images/\ gross\ profit.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #191516;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profit_box {
  padding-left: 15px;
  padding-right: 15px;
}
.profit_box_heading {
  font-size: 16px;
  margin-bottom: 15px;
}
.profit_box_des {
  font-size: 16px;
  margin-bottom: 3px;
}
.profit_box_desc_below {
  font-size: 10px;
  line-height: 18px;
  margin-bottom: 15px;
}
.profit_box h2 {
  font-size: 26px;
}
.box_btn {
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 13px;
}
.box_btn span {
  margin-right: 2px;
  padding: 4px;
  font-size: 15px;
}
@media (min-width: 640px) {
  .box_btn {
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
  }
  .box_btn span {
    margin-right: 3px;
    font-size: 18px;
  }
  .profit_box_des {
    margin-bottom: 7px;
  }
}

@media (min-width: 768px) {
  .box_btn {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 16px;
  }
  .box_btn span {
    margin-right: 4px;
  }
}

@media (min-width: 540px) and (max-width: 830px) {
  .box_btn {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .profit_box_heading {
    font-size: 30px;
    margin-bottom: 35px;
  }
  .profit_box_des {
    font-size: 30px;
    margin-bottom: 11px;
  }
  .profit_box_desc_below {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 26px;
  }
  .profit_box h2 {
    font-size: 55px;
  }
}
@media only screen and (min-width: 1775px) {
  .profit_box {
    padding: 75px 75px;
  }

  .Gross_profit {
    height: 905px;
  }
}

@media only screen and (min-width: 1450px) and (max-width: 1774px) {
  .profit_box {
    padding: 45px 45px;
    padding-bottom: 60px;
  }

  .Gross_profit {
    height: 895px;
  }

  .Gross_profit_grid_div {
    gap: 35px;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1449px) {
  .profit_box {
    padding: 40px 40px;
    padding-bottom: 60px;
  }

  .Gross_profit {
    height: 880px;
  }

  .Gross_profit_grid_div {
    gap: 30px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  .profit_box {
    padding: 35px 35px;
    padding-bottom: 60px;
  }

  .Gross_profit {
    height: 875px;
  }

  .Gross_profit_grid_div {
    gap: 30px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .profit_box {
    padding: 25px 25px;
    padding-bottom: 60px;
  }

  .Gross_profit {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .profit_box_desc_below {
    max-width: 300px;
  }
  .profit_box_des {
    font-size: 30px;
    margin-bottom: 11px;
  }
  .profit_box_desc_below {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 25px;
  }

  .profit_box h2 {
    font-size: 45px;
  }

  .profit_box_heading {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .Gross_profit_grid_div {
    gap: 20px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1150px) {
  .profit_box_heading {
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .profit_box {
    padding: 45px 10px;
    padding-bottom: 60px;
  }

  .Gross_profit {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .profit_box_desc_below {
    max-width: 300px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  .Gross_profit_grid_div {
    gap: 15px;
  }
  .profit_box h2 {
    font-size: 40px;
  }

  .profit_box_heading {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .profit_box_des {
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 856px) {
  .profit_box {
    padding: 20px 8px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .profit_box {
    padding: 25px 25px;
    padding-bottom: 50px;
  }

  .Gross_profit {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .profit_box_desc_below {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .Gross_profit_grid_div {
    gap: 15px;
  }

  .Gross_profit_grid_div {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .Gross_profit {
    justify-content: stretch;
  }

  .Gross_profit_grid_div {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .profit_box {
    padding: 25px 25px;
    padding-bottom: 40px;
  }
  .Gross_profit {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 970px) {
  .profit_box h2 {
    font-size: 37px;
  }

  .profit_box_heading {
    font-size: 22px;
  }

  .profit_box h3 {
    font-size: 22px;
  }

  .profit_box_desc_below {
    font-size: 16px;
    line-height: 23px;
  }

  .profit_box button {
    padding: 1px 0 1px 14px;
  }

  .profit_box button span {
    margin-right: 1px;
  }
}

@media only screen and (min-width: 830px) {
  .profit_box {
    grid-column: span 4 / span 4;
  }
}
@media only screen and (max-width: 830px) {
  .profit_box {
    grid-column: span 6 / span 6;
  }
}
@media only screen and (max-width: 540px) {
  .profit_box {
    grid-column: span 12 / span 6;
  }
}
@media only screen and (min-width: 768px) and (max-width: 830px) {
  .Gross_profit_grid_div > :nth-child(3) {
    grid-column-start: 4;
  }
  .Gross_profit_grid_div {
    row-gap: 27px;
    column-gap: 48px;
  }
  .profit_box h2 {
    font-size: 30px;
  }
  .profit_box_heading,
  .profit_box h3 {
    font-size: 20px;
  }
  .profit_box_desc_below {
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    line-height: 18px;
  }
  .box_btn span {
    font-size: 22px;
  }
}
@media only screen and (min-width: 639px) and (max-width: 767px) {
  .profit_box_heading {
    margin-bottom: 20px;
  }
  .profit_box_des {
    font-size: 16px;
  }
  .profit_box_desc_below {
    font-size: 12px;
    line-height: 18px;
  }
  .profit_box h2 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 639px) {
  .profit_box_desc_below {
    max-width: 163px;
  }
}
