.input_fields{
 @apply   w-full border font-lato border-color-9 md:rounded-[10px] rounded-[5px] md:px-[25px]  md:py-[11px] py-[8px] px-[12px] text-[15px] md:text-lg md:h-[50px]
}
.select_field{
    @apply  w-full font-lato border border-color-9 md:rounded-[10px] rounded-[5px] md:px-[25px]  md:py-[11px] py-[8px] px-[12px] text-[15px] md:text-lg text-color-1 mt-[11px]
}
.text_area_field{
    @apply w-full border font-lato border-color-9 rounded-[10px] md:px-[25px] px-[12px] md:py-[14px] py-[10px] text-[15px] md:text-lg h-[100px] md:h-[172px]
}

.map_div > div:not(:last-child){
    /* border:5px solid yellow; */
    @apply xl:mb-[114px] lg:mb-[80px] md:mb-[60px] sm:mb-[40px] mb-[30px]
}

@media only screen and (max-width:767px) {
    .select_field{
        background-position: right 5px center;
    }
}


@media only screen and (min-width:1024px) and (max-width:1272px),
(max-width:774px) {
    .names_div {
        flex-direction: column;
        gap: 36px;
    }

    .names_div div {
        max-width: 100%;
    }
}

@media only screen and (max-width:639px) {
    .names_div {
        gap: 20px;
    }
}

@media only screen and (max-width:1023px) {
    .text_div {
        max-width: 636px;
    }
}
@media only screen and (max-width:704px) {
    .map_div{
        justify-content: center;
    }
}