.About_banner {
    padding: 143px 15px 141px 15px;
    overflow: hidden;
}

.Team_img_box {
    max-width: 421px;
    width: 100%;
    bottom: 5px;
}

.About_team {
    padding: 0px 15px 141px 15px;
}

.Team_img {
    max-width: 435px;
    width: 100%;
    
}
.Our_values{
    padding-left: 15px;
    padding-right: 15px;
}

.values_bg {
    background-image: url(../..//assets/images/Gradient_values.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #191615;
    padding: 85px 16px 260px 16px;
    border-radius: 30px;
}

.Our_values_main_p {
    max-width: 724px;
}

.Our_values_main_2 {
    margin: -140px 0;
}

.Zest_for_life {
    padding: 150px 16px;
}

.Escape {
    background-image: url(../../assets/images/Escape.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #191615;
    padding: 129px 16px 140px 16px;
    border-radius: 30px;

}
.Team_img_circle{
width: 95%;
    height: 84%;
    background: #1d2671;
    border-radius: 100%;
    left: 6px;
    bottom: 4px;
}

.Escape_p {
    max-width: 1200px;
}

.Marquee_border{
    position: relative;
    background-color: transparent;
}
.Marquee_border::before,
.Marquee_border::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(transparent 40%, #BD378B 82%, transparent 40%); /* The glow effect */
}

.Marquee_border::before {
    top: 0; /* Aligns the line with the top of the text */
  }
  
  .Marquee_border::after {
    bottom: 0; /* Aligns the line with the bottom of the text */
  }

.gri {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6;
    background-image: linear-gradient(90deg, #191516, transparent 27%, transparent, #191516);
}

@media screen and (max-width:1040px) {
    .Our_values_main_2 {
        margin: 0px 0 !important;
    }
}

@media screen and (max-width:768px) {

    .About_banner,
    .values_bg,
    .Zest_for_life {
        padding: 80px 16px 50px 16px;
    }

    .About_team {
        padding: 0px 16px 50px 16px;
    }

    .Escape {
        padding: 60px 16px 60px 16px;
    }
    .Our_values_main_2{
        margin: 20px 0!important;
    }
}