.Instrumental {
    /* padding: 112px 16px; */
}

.Instrumental h2 {
    /* max-width: 909px; */
}

.Instrumental p {
    max-width: 750px;
    margin-right: 50px;
}

.Instrumental h3 {
    /* max-width: 373px; */
}

.Interests_img {
    max-width: 860px;
}

.Interests_h2 {
    max-width: 1260px !important;
}

@media screen and (max-width:768px) {
    .Instrumental {
        /* padding: 80px 16px 50px 16px; */
    }
    .instrumental_img img{
        margin: auto;
    }

}

/* .grid_image_div{
    align-self: normal;
}


.image_div{
    width: -webkit-fill-available;
    height:100%;
}
.image_div img{
    width: -webkit-fill-available!important;
     border: 1px solid black;
    height: -webkit-fill-available!important;;
} */


.Instrumental {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (min-width: 1775px) {
    .Instrumental {
        margin-top: 120px;
        margin-bottom: 120px;
    }
}

@media only screen and (min-width: 1450px) and (max-width: 1774px) {
    .Instrumental {
        margin-top: 115px;
        margin-bottom:115px;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1449px) {
    .Instrumental {
        margin-top: 90px;
        margin-bottom: 90px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    .Instrumental {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .Instrumental {
        margin-top: 70px;
        margin-bottom: 70px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .Instrumental {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

@media only screen and (max-width:830px){
    .project_window, .conversations_img, .conversations_text{
        @apply col-span-12
    }
    .project_window {
        @apply ms-auto
    }
    .conversations_img{
        @apply order-2
    }
    .conversations_text{
        @apply order-1 
    }
    .conversations_img{
        @apply me-auto
    }
}
@media only screen and (min-width:768px) and (max-width:830px) {
    .conversations_text{
        @apply  ps-[100px]
    }
}