.Instrumental {
    /* padding: 112px 16px; */
}

.Instrumental h2 {
    /* max-width: 909px; */
}

.Instrumental p {
    max-width: 750px;
    margin-right: 50px;
}

.Instrumental h3 {
    /* max-width: 373px; */
}

.Interests_img {
    max-width: 860px;
}

.Interests_h2 {
    max-width: 1260px !important;
}

@media screen and (max-width:768px) {
    .Instrumental {
        /* padding: 80px 16px 50px 16px; */
    }
    .instrumental_img img{
        margin: auto;
    }

}

/* .grid_image_div{
    align-self: normal;
}


.image_div{
    width: -webkit-fill-available;
    height:100%;
}
.image_div img{
    width: -webkit-fill-available!important;
     border: 1px solid black;
    height: -webkit-fill-available!important;;
} */


.Instrumental {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (min-width: 1775px) {
    .Instrumental {
        margin-top: 120px;
        margin-bottom: 120px;
    }
}

@media only screen and (min-width: 1450px) and (max-width: 1774px) {
    .Instrumental {
        margin-top: 115px;
        margin-bottom:115px;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1449px) {
    .Instrumental {
        margin-top: 90px;
        margin-bottom: 90px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    .Instrumental {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .Instrumental {
        margin-top: 70px;
        margin-bottom: 70px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .Instrumental {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

@media only screen and (max-width:830px){
    .project_window, .conversations_img, .conversations_text{
        @apply col-span-12
    }
    .project_window {
        @apply ms-auto
    }
    .conversations_img{
        @apply order-2
    }
    .conversations_text{
        @apply order-1 
    }
    .conversations_img{
        @apply me-auto
    }
}
@media only screen and (min-width:768px) and (max-width:830px) {
    .conversations_text{
        @apply  ps-[100px]
    }
}









/* .image_desc {
    font-size: 14px;
    max-width: 221px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: 640px) {
    .image_desc {
      font-size: 18px;
    }
  }
  
  @media (min-width: 768px) {
    .image_desc {
      font-size: 25px;
      max-width: 373px;
      margin-top: 16px;
    }
  }
  
  @media (min-width: 1024px) {
    .image_desc {
      font-size: 30px;
    }
  }
  
  @media (min-width: 540px) and (max-width: 830px) {
    .image_desc {
      font-size: 16px;
      line-height: 20px;
    }
  }
  
  .text_heading {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  @media (min-width: 640px) {
    .text_heading {
      font-size: 23px;
      margin-bottom: 15px;
    }
  }
  

  
  @media (min-width: 768px) {
    .text_heading {
      font-size: 35px;
      margin-bottom: 20px;
    }
  }
  @media (min-width: 540px) and (max-width: 830px) {
    .text_heading {
      font-size: 26px;
      line-height: 34px;
    }
  }
  
  @media (min-width: 1024px) {
    .text_heading {
      font-size: 40px;
    }
  
    @media (min-width: 1280px) {
      .text_heading {
        font-size: 45px;
      }
    }
  
    .below_line {
      padding-top: 8px;
      font-size: 10px;
    }
  
    @media (min-width: 640px) {
      .below_line {
        font-size: 12px;
      }
    }
  
    @media (min-width: 768px) {
      .below_line {
        font-size: 15px;
      }
    }
  
    @media (min-width: 540px) and (max-width: 830px) {
      .below_line {
        font-size: 12px;
      }
    }
  
    .special_instrumental_img {
      margin-left: auto;
    }
  
    @media (min-width: 640px) {
      .special_instrumental_img {
        max-width: 525px;
        height: 281px;
      }
    }
  
    @media (min-width: 768px) {
      .special_instrumental_img {
        max-width: 560px;
        height: 300px;
      }
    }
  
    @media (min-width: 1024px) {
      .special_instrumental_img {
        max-width: 650px;
        height: 347px;
      }
    }
  
    @media (min-width: 1280px) {
      .special_instrumental_img {
        max-width: 860px;
        height: 460px;
      }
    }
  
    .project_window_img {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  
    @media (min-width: 768px) {
      .project_window_img {
        max-width: 514px;
        height: 404px;
      }
    }
  
    @media (min-width: 1024px) {
      .project_window_img {
        max-width: 500px;
        height: 394px;
      }
    }
  
    @media (min-width: 1280px) {
      .project_window_img {
        max-width: 685px;
        height: 540px;
      }
    }
  
    .conversations_img {
      margin-left: auto;
      margin-right: auto;
    }
  
    @media (min-width: 768px) {
      .conversations_img {
        max-width: 400px;
        height: 204px;
      }
    }
  
    @media (min-width: 1024px) {
      .conversations_img {
        max-width: 500px;
        height: 255px;
      }
    }
  
    @media (min-width: 1280px) {
      .conversations_img {
        max-width: 685px;
        height: 350px;
      }
    }
  
    .left_img {
      margin-left: auto;
      margin-right: auto;
      height: max-content;
    }
  
    @media (max-width: 830px) {
      .left_img {
        max-width: 170px;
      }
    }
  
    @media (min-width: 768px) {
      .left_img {
        max-width: 200px;
      }
    }
  
    @media (min-width: 1024px) {
      .left_img {
        max-width: 280px;
      }
    }
  
    @media (min-width: 1280px) {
      .left_img {
        max-width: 350px;
      }
    }
  }
   */