.Instrumental {
    /* padding: 112px 16px; */
}

.Instrumental h2 {
    max-width: 909px;
}

.Instrumental p {
    max-width: 750px;
    margin-right: 50px;
}

.Instrumental h3 {
    /* max-width: 373px; */
}

.Interests_img {
    max-width: 860px;
}

.Interests_h2 {
    max-width: 1260px !important;
}

@media screen and (max-width:768px) {
    .Instrumental {
        /* padding: 80px 16px 50px 16px; */
    }

}

/* .grid_image_div{
    align-self: normal;
}


.image_div{
    width: -webkit-fill-available;
    height:100%;
}
.image_div img{
    width: -webkit-fill-available!important;
     border: 1px solid black;
    height: -webkit-fill-available!important;;
} */