.bg_image {
    background-image: url('../../../assets/images/Gradient_map.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
.map_div > div {
    border: 1px solid white;
    border-radius: 30px;
    width: 100%!important;
    /* max-height: 700px!important; */
    /* height: 100%!important; */
    @apply md:rounded-[30px] rounded-[20px] shadow-dark-pink-right xl:max-h-[738px] lg:max-h-[650px] md:max-h-[500px] max-h-[300px]
}
.address h4:first-child{
    @apply font-mono lg:text-30px md:text-25px text-[20px] font-normal text-white  lg:mb-[20px] md:mb-[15px] sm:mb-[10px] mb-[7px]
}
.address h4:not(:first-child){
    @apply font-mono lg:text-30px md:text-25px text-[20px] font-normal lg:mb-[20px] md:mb-[15px] sm:mb-[10px] mb-[7px] text-white xl:mt-[40px] lg:mt-[35px] md:mt-[30px] sm:mt-[25px] mt-[20px]
}
.address p{
    @apply text-[14px] md:text-base lg:text-lg font-lato text-white font-light
}