.bg_image {
    background-image: url('../../assets/images/Gradient_footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width:640px) {
    .certificate_icon {
        flex-wrap: wrap;
        justify-content: center;
    }

    .certificate_icon img {
        max-width: 200px;
    }
}

@media only screen and (max-width:410px) {
    .detail_cont {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.footer_details {
    @apply sm:col-span-2 text-white text-center;
}
.footer_details_telephone {
    @apply text-[#a2ff8f] flex items-center justify-center gap-2;
}
