.bg_image {
  background-image: url("../../assets/images/compress/Footer_compress.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.horizontal_line {
  position: relative;
  padding: 1px 0px;
  background-color: transparent;
}

.horizontal_line::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(to right, #a2ff8f, transparent);
}

.horizontal_line::after {
  bottom: 0;
}

.address:last-child a {
  color: #a2ff8f;
}

@media only screen and (max-width: 640px) {
  .certificate_icon {
    flex-wrap: wrap;
    justify-content: center;
  }

  .certificate_icon img {
    max-width: 200px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1260px) {
  .detail_cont {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 20px;
  }
}

.footer_details {
  @apply sm:col-span-2 text-white text-center font-lato;
}

.footer_details_telephone {
  @apply text-[#a2ff8f] flex items-center justify-center gap-2;
}

/* {<Climate_action/>} */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .growth_engine_desc {
    font-size: 23px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .growth_engine_desc {
    font-size: 26px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 640px) {
  .detail_cont {
    margin-top: 50px;
    row-gap: 46px;
  }

  .growth_engine_desc {
    font-size: 20px;
    line-height: 25px;
  }

  .footer_linkheading {
    margin-bottom: 6px;
  }
}

/* {<Climate_action/>} */

.footer_linkheading {
  margin-bottom: 12px;
}

.socialimages img {
  width: 50px;
}

.footer_belowtext {
  padding-left: 36px;
  padding-right: 36px;
  font-size: 16px;
}

@media only screen and (min-width: 1280px) {
  .footer_linkheading {
    font-size: 24px;
  }

  .address address {
    font-size: 18px;
  }

  .telephone {
    margin-top: 13px;
  }

  .telephone svg {
    font-size: 20px;
  }

  .telephone span {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer_linkheading {
    font-size: 22px;
  }

  .address address {
    font-size: 16px;
  }

  .telephone {
    margin-top: 10px;
  }

  .telephone svg {
    font-size: 18px;
  }

  .telephone span {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer_linkheading {
    font-size: 20px;
    margin-bottom: 9px;
  }

  .address address {
    font-size: 15px;
  }

  .telephone {
    margin-top: 8px;
  }

  .telephone svg {
    font-size: 16px;
  }

  .telephone span {
    font-size: 15px;
  }

  .socialimages img {
    width: 45px;
  }

  .footer_belowtext {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .footer_linkheading {
    font-size: 16px;
  }

  .address address {
    font-size: 10px;
  }

  .telephone {
    margin-top: 12px;
  }

  .telephone svg {
    font-size: 11px;
  }

  .telephone span {
    font-size: 10px;
  }

  .socialimages img {
    width: 35px;
  }

  .footer_belowtext {
    font-size: 10px;
  }
}

@media only screen and (min-width: 540px) and (max-width: 830px) {
  .footer_linkheading {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .address address {
    font-size: 12px;
  }

  .telephone svg {
    font-size: 15px;
  }

  .telephone span {
    font-size: 12px;
  }

  .socialimages img {
    width: 45px;
  }

  .footer_belowtext {
    font-size: 12px;
  }

  .socialimages {
    justify-content: center;
  }
}



.certificate_icon div img {
  width: 100%;
}

.certificate_icon div:nth-child(1) img {
  max-width: 407px;
}

.certificate_icon div:nth-child(2) img {
  max-width: 235px;
}

.certificate_icon div:nth-child(3) img {
  max-width: 250px;
}

.certificate_icon div:nth-child(4) img {
  max-width: 230px;
}

.certificate_icon div:nth-child(5) img {
  max-width: 131px;
}


.image0 {
  grid-area: image1;
}

.image1 {
  grid-area: image2;
}

.image2 {
  grid-area: image3;
}

.image3 {
  grid-area: image4;
}

.image4 {
  grid-area: image5;
}


.certificate_icon {
  display: grid;
  grid-template-areas:
    'image1 image2 image3 image4 image5 ';
}

@media only screen and (min-width:639px) and (max-width:830px) {
  .certificate_icon {
    grid-template-areas:
      'image4 image1 image5 '
      'image3 image2 image5 ';
    margin: 84px 0 90px 0;
  }

  .images {
    align-self: center;
  }

  .images img {
    margin: auto;
  }

  .certificate_icon div:nth-child(1) img {
    max-width: 306px;
  }

  .certificate_icon div:nth-child(2) img {
    max-width: 198px;
  }

  .certificate_icon div:nth-child(3) img,
  .certificate_icon div:nth-child(4) img {
    max-width: 163px;
  }


  .certificate_icon div:nth-child(5) img {
    max-width: 115px;
  }

  .socialimages {
    margin-bottom: 5px;
  }

}

@media only screen and (max-width:639px) {
  .footer_linkheading {
    margin-bottom: 4px;
  }

  .certificate_icon {
    grid-template-areas:
      'image1 image1 '
      'image2 image2 '
      'image4 image5 '
      'image3 image5 ';
    gap: 10px;
    margin: 70px 0 66px 0;
  }

  .images {
    align-self: center;
  }

  .images img {
    margin: auto;
  }

  .image4 {
    height: 100%;
  }

  .image4 img {
    height: 100%;
  }

  .certificate_icon div:nth-child(1) img {
    width: 293px;
  }

  .certificate_icon div:nth-child(2) img {
    width: 150px;
  }

  .certificate_icon div:nth-child(3) img,
  .certificate_icon div:nth-child(4) img {
    width: 121px;
  }



  .certificate_icon div:nth-child(5) img {
    width: 101px;
  }

  .socialimages {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width:320px) {
  .images img {
    width: 100% !important;
  }

  .certificate_icon {
    margin: 30px 0 40px 0;
  }

}

.footer_belowtext p {
  display: inline;
}

@media only screen and (max-width:530px) {
  .bg_image {
    background-position: 50% 92px;
  }
}