.growths_container {
  margin-bottom: 232px;
}

.growth_heading {
  font-size: 22px;
}

.growth_card_div {
  gap: 20px;
  margin-top: 47px;
}

.growth_card_container {
  padding-left: 25px;
  padding-right: 25px;

}

.card_div+div:last-child {
  max-width: 1365px;
}

.card_divider {
  gap: 24px;
}

.growths_div {
  margin-top: 80px;
}

@media (min-width: 640px) {
  .growths_container {
    margin-bottom: 140px;
  }

  .growth_heading {
    font-size: 35px;
  }

  .growth_card_div {
    gap: 30px;
    margin-top: 70px;
  }

  .growth_card_container {
    padding-left: 90px;
    padding-right: 90px;

  }

  .card_divider {
    gap: 30px;
  }

  .growth_heading {
    font-size: 3;
  }

  .growths_div {
    margin-top: 90px;
  }
}

@media (min-width: 768px) {
  .growths_container {
    margin-bottom: 170px;
  }

  .growth_heading {
    font-size: 45px;
  }

  .growth_card_div {
    gap: 40px;
    margin-top: 90px;
  }

  .growth_card_container {
    padding-left: 30px;
    padding-right: 30px;

  }

  .card_divider {
    gap: 40px;
  }

  .growths_div {
    margin-top: 120px;
  }
}

@media (min-width: 540px) and (max-width: 830px) {
  .growth_heading {
    font-size: 30px;
  }

  .growths_div {
    margin-top: 106px;
  }

  .card_divider>div>div p,
  .card_div+div:last-child p {
    max-width: 422px;
  }

}

@media (min-width: 640px) and (max-width: 830px) {
  .growths_container {
    margin-bottom: 252px;
  }

  .growth_card_div {
    gap: 30px;
    margin-top: 70px;
  }

  .growth_card_container {
    padding-left: 74px;
    padding-right: 74px;

  }
}

@media (min-width: 1024px) {
  .growths_container {
    margin-bottom: 311px;
  }

  .growths_div {
    margin-top: 140px;
  }

  .growths_container {
    margin-bottom: 210px;
  }

  .growth_card_div {
    margin-top: 115px;
  }

  .growth_card_container {
    padding-left: 50px;
    padding-right: 50px;

  }
}

@media (min-width: 1280px) {
  .growths_div {
    margin-top: 170px;
  }

  .growths_container {
    margin-bottom: 311px;
  }
}

@media only screen and (max-width:830px) {

  .card_div+div:last-child,
  .card_divider>div>div {
    width: 100%;
    min-height: 355px;
  }

  .card_divider {
    width: 100%;
  }
}

@media only screen and (max-width:460px) {

  .card_div+div:last-child,
  .card_divider>div>div {
    min-height: 252px;
    padding-left: 17px;
  }


}