.bg_image {
    background-image: url('../../assets/images/services_gradient.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Services_Image img {

    filter: drop-shadow(0px 6px 10px #FFFFFF29);
}

@media only screen and (max-width:767px) {

    .bg_image {
        background-image: url('../../assets/images/OurServices_gradient_mobile.png');
    }

    .Services_List li:last-child {
        margin-bottom: 0px;
    }

    .Services_Image div:first-child {
        margin-top: 50%;
    }

    .Services_Image div:nth-child(2) {
        margin-top: 25%;
    }



}

@media only screen and (max-width:640px) {
    .bg_image {
        /* padding: 0px; */
    }
}