.bg_image {
    background-image: url('../../assets/images/services_gradient.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width:640px) {
    .bg_image {
        padding: 0px;
    }
}