.Filters {
    /* background-color: #000; */
    padding: 74px 64px 140px 64px;
    border-radius: 30px;
}

.Filters_img {
    left: 0;
    right: 0;
}

.Filters_btn,.Insight_tag {
    padding: 7px 20px;
    margin: 0;
    font-size: 14px;
}
.Filters_btn{
    @apply text-color-1 hover:bg-color-7 hover:border-color-1 md:hover:border-color-7 hover:text-color-1 md:text-color-7 md:border-color-7 border border-color-1 rounded-full font-mono
}
@media only screen and (min-width:768px) and (max-width:1100px){
    .Filters{
        padding: 20px 40px 120px 40px;
    }
}

@media screen and (max-width:767px) {
    .Filters {
        padding: 0px 0px 0px 0px;
    }
    .Filters_btn {
        padding: 3px 8px;
    }
}