.Solution_Banner {
    padding: 143px 16px 141px 16px;
}

@media screen and (max-width:950px) {
.banner_image{
    padding:00px 0 0px 135px;
}
}

@media screen and (max-width:1024px) {
   .Solution_Banner {
    padding: 90px 16px 141px 16px;
} 
}
@media screen and (max-width:768px) {

    .Solution_Banner {
        padding: 60px 16px 50px 16px;
    }
}
@media screen and (max-width:639px) {

    .Solution_Banner {
        padding: 40px 16px 20px 16px;
    }
}
