.Solution_Banner {
    padding: 143px 16px 141px 16px;
}

@media screen and (max-width:950px) {
.banner_image{
   max-width: 200px;
   margin-left: auto;
}
}

@media screen and (max-width:1024px) {
   .Solution_Banner {
    padding: 90px 16px 141px 16px;
} 
}
@media screen and (max-width:768px) {

    .Solution_Banner {
        padding: 60px 16px 50px 16px;
    }
    .banner_image{
        max-width: 110px;
        margin-top: 10px;
        margin-left: auto;
     }

}
@media screen and (max-width:639px) {

    .Solution_Banner {
        padding: 40px 16px 50px 16px;
    }
}
