.banner {
  background-image: url("../../assets/images/compress/Gradient_v3_compress.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #191615;
  position: relative;
}

.custom_border {
  position: relative;
}

.video_class {
  position: relative;
  z-index: 11;
}

.custom_border:before,
.custom_border:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -2px;
  z-index: 0;
  @apply xl:rounded-30px md:rounded-[20px] rounded-[10px];
}

.custom_border:before {
  background: linear-gradient(115deg,
      #a2ff8f 0%,
      transparent 64%,
      transparent 54%,
      transparent -256%);
}

.custom_border:after {
  background: linear-gradient(-78deg,
      #000000 0%,
      transparent 28%,
      transparent 148%,
      transparent -387%);
}

@media only screen and (max-width: 1410px) {
  .marketing_agency_logo_1 {
    position: relative;
    top: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .marketing_agency_logo_1 {
    display: block;
  }

  .marketing_agency_logo_2 {
    display: none;
  }

  .mux-player {
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
  }
}

@media only screen and (max-width: 639px) {
  .marketing_agency_logo_2 {
    top: -18vw;
    right: -8px;
    display: flex;
    justify-content: end;
  }

  .marketing_agency_logo_2 img {
    width: 36vw;
  }

  .custom_border:before,
  .custom_border:after {
    margin: -1.5px;
  }
}

.banner_btn button {
  font-size: 16px;
  width: max-content;
  padding-left: 25px;
  padding-right: 25px;
  height: 40px;
}

@media only screen and (min-width: 1280px) {
  .banner {
    padding-top: 130px;
    padding-bottom: 110px;
  }

  .banner_text {
    font-size: 55px;
    line-height: 75px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .banner {
    padding-top: 90px;
    padding-bottom: 86px;
  }

  .banner_text {
    font-size: 42px;
    line-height: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .banner {
    padding-top: 90px;
    padding-bottom: 150px;
  }

  .banner_text {
    font-size: 40px;
    line-height: 65px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1050px) {
  .banner_text {
    font-size: 37px;
    line-height: 48px;
  }
}

@media only screen and (min-width: 830px) and (max-width: 991px) {
  .banner_text {
    font-size: 35px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .banner {
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: contain;
  }

  .banner_text {
    font-size: 22px;
    line-height: 30px;
  }

  .banner_btn button {
    font-size: 12px;
    height: 36px;
  }

  .marketing_agency_logo_1 {
    display: block;
    max-width: 110px;
    margin-left: auto;
    top: 0;
  }

  .marketing_agency_logo_2 {
    width: 200px;
    display: block;
    position: absolute;
    top: -93px;
    right: -31px;
    z-index: 26;
  }

  .banner {
    overflow: hidden;
  }
}

@media only screen and (min-width: 540px) and (max-width: 830px) {
  .banner {
    padding-bottom: 43px;
    gap: 55px;
  }

  .video_class,
  .custom_border:before,
  .custom_border:after {
    border-radius: 30px;
  }

  .banner_text {
    max-width: 554px;
    font-size: 30px;
    line-height: 45px;
  }

  .marketing_agency_logo_1 {
    display: block;
    max-width: 150px;
    margin-left: auto;
    top: 10px;
  }
}

@media only screen and (min-width: 830px) and (max-width: 1023px) {
  .marketing_agency_logo_1 img {
    max-width: 130px;
  }
}

@media only screen and (min-width: 1366px) and (max-width:2000px) and (max-height: 1024px) {
  .banner {
    height: calc(100vh - 115px - 15px);
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1615px) {
  .banner {
    padding-top: 111px;
    padding-bottom: 110px;
  }

  .banner h1 {
    font-size: 50px;
    line-height: 70px;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1439px) {
  .banner {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1439px) and (max-width: 1500px) {
  .banner_text {
    font-size: 44px !important;
    line-height: 64px !important;
  }

  .marketing_agency_logo_1 img {
    max-width: 180px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  .banner_text {
    font-size: 42px !important;
    line-height: 60px !important;
  }

  .marketing_agency_logo_1 img {
    max-width: 180px;
  }

  .banner {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 1430px) and (max-height: 860px) {
  .banner {
    /* height: auto; */
    padding-top: 80px;
  }


  .marketing_agency_logo_1 img {
    max-width: 160px;
  }

  .marketing_agency_logo_1 {
    position: absolute;
    bottom: 42px;
    left: 50%;
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 1366px) and (max-width:1429px) and (max-height: 745px) {
  .banner {
    padding-top: 65px;
  }


  .marketing_agency_logo_1 img {
    max-width: 150px;
  }

  .marketing_agency_logo_1 {
    position: absolute;
    bottom: 30px;
    top: auto;
    left: 50%;
    transform: translateX(-90%);
  }
}

@media only screen and (max-width:830px) {
  .banner_btn {
    flex-direction: column;
    gap: 4px;
  }
}

@media only screen and (max-width:639px) {
  .banner {
    padding-bottom: 37px;
  }

  .banner_txt_btn {
    padding-left: 14px;
    padding-right: 14px;
  }

  .banner_btn {
    margin-top: 21px;
    gap: 14px;
  }

  .banner_btn>div {
    gap: 10px;

  }
}

@media only screen and (max-width:365px) {
  .banner_txt_btn {
    padding-left: 2px;
    padding-right: 2px;
  }
}

@media only screen and (min-width:1364px) {
  .marketing_agency_logo_1 img {
    margin-top: 0;
    margin-inline-start: 10px;
  }
}