.Casestudyintro {
    /* padding: 120px 16px 84px 16px; */
}



@media only screen and (max-width:1155px) {
    .image_div {
        display: block;
        max-width: 0200px;
        position: relative;
        margin-left: auto;
        margin-top: -60px;
    }
}
.Casestudyintro {
    margin-top: 30px;
    margin-bottom: 50px;
}

@media only screen and (min-width: 1775px) {
    .Casestudyintro {
        margin-top: 119px;
        margin-bottom: 95px;

    }
}

@media only screen and (min-width: 1450px) and (max-width: 1774px) {
    .Casestudyintro {
        margin-top: 100px;
        margin-bottom: 85px;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1449px) {
    .Casestudyintro {
        margin-top: 80px;
        margin-bottom: 75px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    .Casestudyintro {
        margin-top: 70px;
        margin-bottom: 65px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .Casestudyintro {
        margin-top: 60px;
        margin-bottom: 55px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .Casestudyintro {
        margin-top: 40px;
        margin-bottom: 45px;
    }
}

@media screen and (max-width:768px) {
    .image_div {
        max-width: 0110px;
        margin-top: 0px;
    }

}