.navbar {
  color: #fff;
}

.BG_manu {
  background-image: url(../../assets//images/compress/Gradient_v3_compress.avif);
  background-color: #191615;
  background-position: bottom;
  height: calc(100vh - 80px - 80px);
  background-size: contain;
  border-radius: 15px;
  text-align: end;
  padding: 65px 36px;
  color: #fff;
  background-repeat: no-repeat;
  position: relative;
}

.navbar_sublogo {
  position: absolute;
  bottom: 31%;
}


@media(hover: hover) and (pointer: fine) {
  .call_btn {
    @apply hover:bg-white hover:text-color-1
  }
}

@media only screen and (orientation: landscape) {
  .BG_manu {
    background-size: 100% 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .BG_manu::-webkit-scrollbar {
    display: none;
  }

}

.menuIcon {
  max-width: max-content;
  width: 100%;
}

.menuIcon img {
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 100%;
  left: -16px;
  right: -16px;
  background-color: white;
  z-index: 9999;
  overflow: hidden;
  transition: height 0.5s ease;
}

.menu a {
  display: block;
  text-decoration: none;
}

.menuOpen {
  top: 100%;
  height: max-content;
}

.bars-icon {
  width: 23px !important;
  height: 23px;
  right: 0 !important;
}

.custom_menu_items_class span:hover {
  border-bottom: 2px solid #e43fa8;
  color: #e43fa8;
}

.custom_menu_items_class {
  padding: 8px 16px;
  margin-bottom: 10px;
  font-size: 22px;
}

@media only screen and (max-width:767px) {
  .BG_manu {
    height: calc(100vh - 54px - 74px);
    padding: 58px 28px;
  }

  .navbar_sublogo {
    position: static;
  }

  .navbar_sublogo img {
    margin-top: 110px;
  }
}

@media only screen and (max-width: 1080px) {
  .navMenuClass {
    display: none;
    flex-direction: column;
    gap: 0;
    font-size: 18px;
    position: absolute;
    top: 90px;
    right: -33.333333%;
    width: 33.333333%;
    z-index: 10;
    background-color: #191615;
    color: white;
    padding-inline-start: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 89vh;
  }

  .navlinkclass {
    border-bottom: 1px;
    border-color: #373737;
    padding: 12px 80px 12px 8px;
    color: #191615;
  }
}

@media only screen and (max-width: 609px) {
  .navMenuClass {
    width: auto;
  }
}

@media only screen and (max-width: 1110px) {
  .desktop_nav {
    gap: 40px;
  }

  .desktop_nav div:last-child {
    gap: 30px;
  }
}

@media (min-width:1024px) and (max-width: 1080px),
(min-width:641px) and (max-width: 830px) {

  .menu {
    margin-left: -34px;
    margin-right: -34px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width:831px) and (max-width: 1023px) {
  .menu {
    margin-left: -4px;
    margin-right: -4px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width:540px) and (max-width: 640px) {
  .menu {
    margin-left: -44px;
    margin-right: -44px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .BG_manu {
    padding: 53px 25px;
  }

  .navbar_sublogo {
    bottom: 15%;
  }
}

@media (max-width: 539px) {
  .menu {
    margin-left: -14px;
    margin-right: -14px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .BG_manu {
    padding: 45px 20px;
  }

}

@media (max-width: 380px) {

  .custom_menu_items_class {
    padding: 3px 8px;
  }

  .navbar_sublogo img {
    width: 110px;
    margin-top: 90px;
  }
}

@media only screen and (max-width:355px) {
  .mobile_nav_left {
    gap: 10px;
  }

  .call_btn {
    padding: 7px 15px;
  }

  .custom_menu_items_class {
    font-size: 20px;
  }
}