
.navbar {
    /* background-color: #333; */
    color: #fff;
  }
  .nav_links_hover{
    /* border-bottom: 1px solid transparent; */
  }
.nav_links_hover:hover{
/* border-bottom: 1px solid #191615; */
/* text-decoration: underline; */
}

.BG_manu{
  background-image: url(../../assets//images//Gradient_v3.png);
  background-color: #191615;
  background-position: bottom;
  height: 93vh;
  background-size: contain;
  border-radius: 15px;
  text-align: end;
  padding: 65px 36px;
  color: #fff;
  background-repeat: no-repeat;
}
  .menuIcon{
    max-width: max-content;
    width: 100%;
  }
  
  .menuIcon img {
    width: 27px;
    height: 27px; 
    cursor: pointer;
  }
  
  .menu {
    position: absolute;
    top: 100%; 
    left: -16px;
    right: -16px;
    background-color: white;
    z-index: 9999;
    overflow: hidden;
    transition: height 0.5s ease;
  }
  
  .menu a {
    display: block;
    text-decoration: none;
  }
  
  .menuOpen {
    top: 100%;
    height: max-content; 
  }

  .bars-icon {
    width: 23px !important;
    height: 23px;
    right: 0!important;
}

.custom_menu_items_class{
  @apply text-white font-mono text-[26px] md:text-[22px] px-4 py-[3px] md:py-[8px] mb-[10px] hover:bg-color-1 hover:text-white rounded-[6px]  active:bg-color-1 active:text-white
}

.custom_menu_items_class span:hover{
border-bottom: 2px solid #e43fa8;
color: #e43fa8;
}