.GrowthMarketingServices_Banner {
  margin-top: 20px;
}

.banner_title {
  font-size: 22px;
  padding-right: 80px;
  margin-bottom: 8px;
}

.banner_description {
  font-size: 12px;
  margin-bottom: 16px;
  line-height: 15px;
}

.banner_button {
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
  height: 35px;
}

@media (min-width: 640px) {
  .GrowthMarketingServices_Banner {
    margin-top: 30px;
  }

  .banner_title {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .banner_description {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 23px;
  }

  .banner_button {
    font-size: 16px;
    padding-left: 18px;
    padding-right: 18px;
    height: 35px;
  }
}

@media (min-width: 768px) {
  .GrowthMarketingServices_Banner {
    margin-top: 50px;
  }

  .banner_title {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .banner_description {
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 34px;
  }

  .banner_button {
    padding-left: 21px;
    padding-right: 21px;
    height: 40px;
  }
}

@media (min-width: 540px) and (max-width: 830px) {
  .GrowthMarketingServices_Banner {
    margin-top: 55px;
  }

  .banner_content {
    max-width: 619px;
  }

  .banner_title {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .banner_description {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 23px;
  }

  .banner_button {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .GrowthMarketingServices_Banner {
    margin-top: 70px;
  }

  .banner_content {
    max-width: 1026px;
  }

  .banner_description {
    margin-bottom: 28px;
  }

  .banner_title {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .banner_description {
    font-size: 30px;
    line-height: 39px;
  }
}

@media (min-width: 1280px) {
  .banner_content {
    max-width: 1032px;
  }

  .ppc_page_div {
    max-width: 1075px;
  }

  .social_page_div {
    max-width: 1090px;
  }

  .GrowthMarketingServices_Banner {
    margin-top: 91px;
  }

  .banner_title {
    font-size: 55px;
    margin-bottom: 28px;
  }
}

@media (min-width: 1280px) and (max-width: 1460px) {
  .banner_title {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .banner_description {
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 26px;
  }

  .banner_content {
    max-width: 929px;
  }

  .ppc_page_div {
    max-width: 970px;
  }

  .social_page_div {
    max-width: 975px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .banner_title {
    font-size: 45px;
    margin-bottom: 18px;
  }

  .banner_description {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 22px;
  }

  .banner_content {
    max-width: 859px;
  }

  .ppc_page_div {
    max-width: 900px;
  }

  .social_page_div {
    max-width: 915px;
  }
}

@media (max-width:539px) {
  .banner_content {
    max-width: 411px;
  }
}

@media (min-width: 831px) and (max-width: 1023px) {
  .banner_content {
    max-width: 838px;
  }
}