.upper_heading {
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 13px;
}

.below_heading {
  font-size: 10px;
  padding-top: 12px;
}

@media (min-width: 640px) {
  .upper_heading {
    font-size: 30px;
    line-height: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .below_heading {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .upper_heading {
    font-size: 35px;
    line-height: 48px;
  }
}

@media (min-width: 540px) and (max-width: 830px) {
  .upper_heading {
    font-size: 26px;
    line-height: 34px;
    padding-bottom: 15px;
  }

  .below_heading {
    font-size: 12px;
    padding-top: 7px;
  }
}

@media (min-width: 1024px) {
  .upper_heading {
    font-size: 40px;
    line-height: 54px;
  }
}

@media (min-width: 1280px) {
  .upper_heading {
    font-size: 45px;
    line-height: 58px;
  }
}


@media (min-width: 1280px) and (max-width: 1460px) {
  .upper_heading {
    font-size: 36px;
    line-height: 50px;
    padding-bottom: 10px;
  }

  .text_div {
    max-width: 848px;
  }

  .below_line {
    padding-left: 100px;
    padding-right: 100px;
  }

  .below_line p {
    padding-top: 8px;
    font-size: 15px;
  }
}