/* ProgressBar.module.css */
.progressBar {
    width: 100%;
    background-color: #afadac;
    border-radius: 10px; 
    overflow: hidden;
   
    @apply md:h-[20px] sm:h-[16px] h-[12px] md:shadow-[inset_0_0_5px_rgba(0,0,0,0.2)] shadow-[inset_0_0_3px_rgba(0,0,0,0.2)]
  }
  
  .progress {
    height: 100%; 
    background-color:  #E43FA8; 
    border-radius: 10px; 
    transition: width 0.5s ease-in-out; 
  }
  