/* ProgressBar.module.css */
.progressBar {
    width: 100%; /* Full width */
    background-color: #afadac; /* Light grey background */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensures the inner div doesn't exceed the parent's radius */
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2); /* Inner shadow for some depth */
    height: 20px; /* Fixed height */
  }
  
  .progress {
    height: 100%; /* Full height of parent */
    background-color:  #F7C9E7; /* Pink color for the progress indicator */
    border-radius: 10px; /* Only round the left corners */
    transition: width 0.5s ease-in-out; /* Smooth transition for changes */
  }
  