@media only screen and (min-width:768px) and (max-width:1024px) {

    .growth_engine_desc {
        font-size: 23px;
        line-height: 30px;
    }
}

@media only screen and (max-width:767px) {

    .growth_engine_desc {
        font-size: 26px;
        line-height: 28px;
    }

}

@media only screen and (max-width:640px) {

    .growth_engine_desc {
        font-size: 20px;
        line-height: 25px;
    }

}