
/* ms-auto */

.climate_action_content{
padding-left: 56px;
padding-right: 28px;
padding-top: 70px;
padding-bottom: 70px;
border: 1px solid black;
background-color: white;
}

.growth_engine_desc{
font-size: 30px;
line-height: 39px;
}


@media only screen and (min-width: 1280px) {

}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .climate_action_content{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .growth_engine_desc{
    font-size: 25px;
    line-height: 32px;
    }
}


@media only screen and  (max-width: 767px) {
    .climate_action_content{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .growth_engine_desc{
        font-size: 12px;
        line-height: 15px;
    }
}

@media only screen and (min-width: 540px) and (max-width: 830px) {
    .climate_action_content{
        padding-left: 36px;
        padding-right: 36px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .growth_engine_desc{
    font-size: 14px;
    line-height: 18px;
    }

}